[submodule "teensyduino/teensy"]
	path = teensyduino/teensy
	url = git@github.com:cincodenada/teensyduino_multijoy.git
[submodule "teensyduino/cores"]
	path = teensyduino/cores
	url = https://github.com/cincodenada/cores
[submodule "pcb"]
	path = pcb
	url = git@github.com:cincodenada/old_controllers-pcb.git
[submodule "models"]
	path = models
	url = git@github.com:cincodenada/old_controllers-models.git
