[submodule "teensyduino/teensy"]
	path = teensyduino/teensy
	url = git@github.com:cincodenada/teensyduino_multijoy.git
[submodule "teensyduino/cores"]
	path = teensyduino/cores
	url = https://github.com/cincodenada/cores
